.corner-left-div {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.home-value-container {
  border: 1px solid #d1d1d1;
  background-color: #f7f7f7;
  min-height: 80px;
  cursor: pointer;
}

.corner-right-div {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.selected-tab {
  background-color: #5a6f90;
}

.selected-tab-detail {
  color: #ffffff !important;
}

.tab-inner-text-details {
  text-align: center;
  margin-top: 1vh;
  font-weight: 650;
  font-size: 17px;
  padding: 2vh 0;
}

.tab-detail {
  color: #4c596d;
}
