.plan-div-heading {
  height: auto;
  background-color: #5a6f90;
  min-height: 7vh;
}

.most-popular-div {
  height: auto;
  background-color: rgb(255, 94, 0);
  min-height: 7vh;
  margin-top: 7vh;
}

.display-heading-inside-div {
  color: #ffffff;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  padding-top: 1.5vh;
  font-size: 19px;
}

.display-price-per-qualified-lead {
  padding-top: 3vh;
  text-align: center;
  font-family: inherit;
}

.inner-plan-details {
  font-size: 15px;
  font-weight: 700;
}

.inner-plan-amount-details {
  margin-top: -1vh;
  font-size: 22px;
}

.separator-grid {
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
}

.seperator-border {
  border-bottom: 1px dotted black;
}

.display-hidden {
  visibility: hidden;
}

.popular-background {
  background-color: #f7f7f7;
}

.normal-background {
  background-color: #ffffff;
}
