.planDivTop {
  height: auto;
  background-color: #5a6f90;
  margin-top: 10vh;
  min-height: 7vh;
}

.mostPopularDiv {
  height: auto;
  background-color: #ee5a36;
  min-height: 7vh;
  position: absolute;
  width: 18vw;
}

.mostPopularText {
  color: #ffffff;
  text-align: center;
}

.displayPlanDiv {
  color: #d2d7e1;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  padding-top: 1.5vh;
  font-size: 24px;
}

.displayPricePerQualifiedLeadCls {
  text-align: center;
  font-family: inherit;
}

.innerPlanDetails {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.innerPlanNumberDetails {
  text-align: center;
  margin-top: -1vh;
}

.seperatorCls {
  border-bottom: 1px dotted black;
}

.btn-props {
  margin-top: 2vh;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(255, 94, 0);
  background-color: #ffffff;
}

.buttonDetails {
  color: rgb(255, 94, 0);
  text-align: center;
  margin-top: 1vh;
}
