.planDivTop {
  height: auto;
  background-color: #5a6f90;
  min-height: 7vh;
}

.mostPopularDiv {
  height: auto;
  background-color: rgb(255, 94, 0);
  min-height: 7vh;
  margin-top: 7vh;
}

.mostPopularText {
  color: #ffffff;
}

.displayPlanDiv {
  color: #ffffff;
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  padding-top: 1.5vh;
  font-size: 24px;
}

.displayPricePerQualifiedLeadCls {
  padding-top: 3vh;
  text-align: center;
  font-family: inherit;
}

.innerPlanDetails {
  font-size: 15px;
  font-weight: 700;
}

.innerPlanNumberDetails {
  margin-top: -1vh;
  font-size: 22px;
}

.separatorGrid {
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1vh;
}

.seperatorCls {
  border-bottom: 1px dotted black;
}

.display-hidden {
  visibility: hidden;
}

.popular-background {
  background-color: #f7f7f7;
}

.normal-background {
  background-color: #ffffff;
}

.enterprise-background {
  min-height: 37.6vh;
  background-color: #f7f7f7;
}

.enterprise-text {
  text-align: center;
  padding: 12vh 0;
  font-size: 22px;
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .enterprise-background {
    min-height: 42vh;
    background-color: #f7f7f7;
  }
}

@media screen and (max-width: 992px) {
  .enterprise-background {
    min-height: 48vh;
    background-color: #f7f7f7;
  }
}

@media screen and (max-width: 768px) {
  .enterprise-background {
    min-height: 36.7vh;
    background-color: #f7f7f7;
  }
}

@media screen and (max-width: 460px) {
  .enterprise-background {
    min-height: 36.4vh;
    background-color: #f7f7f7;
  }
}
